x1num:  
x2num:  
x3num:  

x1ghostnum:  
x2ghostnum:  
x3ghostnum:  

x1min:  
x1max:  
x2min:  
x2max:  
x3min:  
x3max:  

t:  
t_final:

checkpoint_num:

consnum:  
passivenum:  

r_solver:  
spaceorder:  
rkmethod:  

bcx1inner:  
bcx1outer:  
bcx2inner:  
bcx2outer:  
bcx3inner:  
bcx3outer:  

gamma_law_coefficient:  
cfl_coefficient:  