x1num:  

x1ghostnum:  

x1min:  
x1max:  

t:  
t_final:

checkpoint_num:

consnum:  
passivenum:  

//r_solver: 0 = hlle    1 = hllc    2 = lax-friedrichs
r_solver:  
spaceorder:  
rkmethod:  

//bcs: 0 = none    1 = fixed    2 = zero-gradient    3 = periodic
bcx1inner:  
bcx1outer:  

gamma_law_coefficient:  
cfl_coefficient:  
